<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
    <title>IRMS</title>
    <link rel="stylesheet" href="/static/css/style2.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">

</head>

<body>

      <div class="row-mt-5">
        <div class="col-md-6-m-auto">
          <div class="card-body-text-center">

            <h2>Welcome To</h2>
            <h2>UWC Institutional Repository Metadata System</h2>

            
            <p>Create an account or login</p>
            <a href="/users/register" class="RegisterClass"
              >Register</a
            >
            <a href="/users/login" class="loginClass">Login</a>
          </div>
        </div>
      </div>
</body>

</html>