*{
  margin: 0;
  padding: 0;
}

.row-mt-5{
  height: 100%;
  width: 100%;
  background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(backG2.jpg);
  background-position: center;
  background-size: cover;
  position: absolute;
}

.col-md-6-m-auto{
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  max-width: none;
  color: white;
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
 
}




.card-card-body{
  width: 350px;
  height: 380px;
  
  
  margin: 6% auto;
  background: #2f323a;
  padding: 70px 30px;
}

p {
  margin-top: 350px;
  font-size: 20px;
  padding: 20px;
}

.RegisterClass{
  font-weight: 100px;
  border: solid 2px #78beca;
  border-radius: 50px;
  background-color: #78beca;

  padding: 10px 80px;
}

.loginClass{
  font-weight: 100px;
  border: solid 2px #78beca;
  border-radius: 50px;
  
  background-color: #78beca;
  padding: 10px 80px;
}

.loginClass:hover{
  background-color: #2f323a;
  color: #ffff;
}

.RegisterClass:hover{
  background-color: #2f323a;
  color: #ffff;
}

.card-card-body1{
  width: 350px;
  height: 450px;
  position: relative;
  margin: 2% auto;
  background: #2f323a;
  padding: 100px 30px;
}

.avatar{
  width: 100px;
  height: 100px;
  border-radius: 70%;
  position: absolute;
  top: 65px;
  left: calc(50%  - 50px);
}

.card-card-body .btn{
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  border: none;
  background-color: grey;
  border-radius: 10px;
  font-size: 18px;
  outline: none;
}

.card-card-body1 .btn{
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  border: none;
  background-color: grey;
  border-radius: 10px;
  font-size: 18px;
  outline: none;
}



h1{
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 22px;
  color: white;
}



.card-card-body p{
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: white;
}

.card-card-body1 p{
  margin: 0;
  padding: 0;
  font-weight: bold;
  color: white;
}

.card-card-body input{
  width: 100%;
  margin-bottom: 20px;
}

.card-card-body1 input{
  width: 100%;
  margin-bottom: 20px;
}

.lead-mt-4  a{
  color: #78beca;
}


.card-card-body input[type="Email"], input[type="password"], input[type="name"]{
  border: none;
   border-bottom: 1px solid #fff;
   background: transparent;
   outline: none;
   height: 40px;
}

.card-card-body1 input[type="Email"], input[type="password"], input[type="name"]{
  border: none;
   border-bottom: 1px solid #fff;
   background: transparent;
   outline: none;
   height: 40px;
}

